/videos
.env
.venv/
yt_scraper_env/
processing_venv/
ma_env/
Data/
multimodal_dataset/
multimodal_dataset_fixed/
Ali/.venv/
Ali/processing_venv/
# Ignore absolutely everything inside the Data directory and all its subfolders
Data/**
# But do not ignore any file ending in .dvc anywhere inside that directory
!Data/**/*.dvc
Ali/multimodal_dataset/
Ali/multimodal_dataset_fixed/
Ali/.env.example
*.code-workspace
/Data
gcp_credentials.json