/videos
.env
.venv/
yt_scraper_env/
processing_venv/
ma_env/
Data/
multimodal_dataset/
multimodal_dataset_fixed/
Ali/.venv/
Ali/processing_venv/
Ali/multimodal_dataset/
Ali/multimodal_dataset_fixed/
Ali/Preped_Comments/
Ali/.env.example
*.code-workspace
/Data
gcp_credentials.json